:root { 
--gray_600:#777777; 
--gray_700:#606666; 
--gray_800:#693911; 
--gray_900:#1c1c1c; 
--lime_900:#8c5222; 
--gray_600_19:#75757519; 
--blue_gray_400_3f:#8e8e8e3f; 
--gray_800_01:#693912; 
--gray_800_00:#69391200; 
--orange_400:#ffa131; 
--gray_200:#ebebeb; 
--orange_300:#ffad4c; 
--lime_100:#f7e1c8; 
--gray_100:#f7f7f7; 
--orange_400_01:#ffa132; 
--white_A700_bc:#ffffffbc; 
--white_A700_01:#fffdfd; 
--gray_200_01:#f1eee8; 
--white_A700:#ffffff; 
--gray_800_4c:#6939114c; 
--black_900_35:#00000035; 
}